/*present box and overly*/
.overlay2 {
    position: relative;
    height: 49em;
    width: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -250px;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
  }
  .overlay2:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup2 {
    margin: 20px auto;
    padding: 15px;
    background: #fff;
    overflow-y:scroll;
    border-radius: 5px;
    width: 80%;
    height: 90%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup2 h2 {
    margin-top: 0;
    color: #333;
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-top: 20px;
    transition: 1s ease-in-out;
  }
  .popup2 h2:hover{
      color: gold;
      
  }
  .popup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup2 .close:hover {
    color: gold;
  }
  .popup2 .content1 {
    text-align: center;
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    max-height: 90%;
    transition: 1s ease-in-out;
  }
  .popup2 .content1:hover{
      color: gold;
      
  }
  
  @media screen and (max-width: 700px) {
    .box2 {
      width: 70%;
    }
    .popup2 {
      width: 70%;
    }
  }