/*star box and overly*/
.overlay {
    position: fixed;
    height: 99vh;
    width: 62.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in;
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 20px auto;
    padding: 2vh ;
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
    overflow-y:scroll;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    position: relative;
    transition: all 1s ease-in;
    z-index: 4;
  }
  
  .popup h2 {
    margin-top: 2vh;
    color: #333;
    font-size: 3.5vw;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-top: 20px;
    transition: 1s ease-in-out;
  }
  .popup h2:hover{
      color: gold;
      
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: gold;
  }
  .popup .content1 {
    text-align: center;
    font-size: 2.5vw;
    font-family: "Dancing Script", cursive;
    max-height: 90%;
    transition: 1s ease-in-out;
  }
  .popup .content1:hover{
      color: gold;
      
  }
  
  @media screen and (max-width: 700px) {
    .box {
      width: 90%;
    }
    .popup {
      width: 90%;
    }
  }